<!DOCTYPE html>
@using WebsiteShopQuanAo.Models;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Images/Logo/3TS LOGO.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/lib/cssDesign/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/cssDesign/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/cssDesign/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/lib/cssDesign/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/lib/cssDesign/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/lib/cssDesign/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/cssDesign/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/cssDesign/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/TaiKhoan/DangNhap">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="/SanPham/TimKiem" class="search-switch"><img src="~/lib/cssDesign/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/lib/cssDesign/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="~/lib/cssDesign/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            @if(Session["User"]!=null)
                            {
                                var us = Session["User"] as TAIKHOAN;
                                <div class="header__top__hover">
                                    <span>Hello @us.HOTEN <i class="arrow_carrot-down"></i></span>
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("ThongTinTaiKhoan","TaiKhoan")" style="color:white">Account Information</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("DoiMatKhau","TaiKhoan")" style="color:white">Change Password</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LichSuGiaoDich","TaiKhoan")" style="color:white">Buy History</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("DangXuat","TaiKhoan")" style="color:white">Log Out</a>
                                        </li>
                                    </ul> 
                                </div>
                                }
                                else
                                {
                                    <div class="header__top__links">
                                        <a href="/TaiKhoan/DangNhap">Sign in</a>
                                    </div>
                                }
                            <div class="header__top__links">
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/SanPham/TatCaSanPhamHome"><img src="~/lib/cssDesign/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                       @if(Session["User"]!=null)
                        {
                            var us = Session["User"] as TAIKHOAN;
                            if(us.MAQUYEN == 2)
                            {
                            <ul>
                                <li>
                                    <a href="/SanPham/ThemSanPham">Add Product</a>

                                </li>
                                <li>
                                    <a href="/SanPham/QuanLySanPham">Product</a>
                                
                                </li>
                                    <li>
                                    <a href="/SanPham/ThongKe">Statistic</a>
                                
                                </li>
                            </ul>
                            }
                            else
                            {
                                   <ul>
                                        <li class="active"><a href="/SanPham/TatCaSanPham">Home</a></li>
                                        <li>
                                            <a href="/SanPham/TatCaSanPham">Category</a>
                                            <ul class="dropdown">
                                                <li>
                                                    @Html.Action("DanhMucPartial", "SanPham")
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Contacts</a></li>
                                    </ul>
                             }
                        }
                        else
                        {
                        <ul>
                            <li class="active"><a href="/SanPham/TatCaSanPham">Home</a></li>
                            <li>
                                <a href="/SanPham/TatCaSanPham">Category</a>
                                <ul class="dropdown">
                                    <li>
                                        @Html.Action("DanhMucPartial", "SanPham")
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                        }
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="/SanPham/TimKiem" class="search-switch"><img src="~/lib/cssDesign/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="~/lib/cssDesign/img/icon/heart.png" alt=""></a>
                        <a href="/GioHang/GioHang"><img src="~/lib/cssDesign/img/icon/cart.png" alt=""> @Html.Action("GioHangPartial", "GioHang")</a>

          
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Product Section Begin -->
    <div class="container mt-2 mb-3">
        <div class="row">
            <div id="divNavigation" @*class="col col-lg-4 col-md-3 h-100 sticky"*@ class="col-md-3">
                <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item" style="background-color:black;"><a href="#" style="text-transform:uppercase; text-decoration:none; color:white; font-weight:bold;">CATEGORY</a></li>
                    @Html.Action("DanhMucPartial", "SanPham")
                </ul>
            </div>
            @*nội dung chính*@
            <div class="col-md-9">
                @RenderBody()
            </div>
            
        </div>
    </div>
    <!-- Product Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                             <a href="/SanPham/TatCaSanPhamHome"><img src="~/lib/cssDesign/img/logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="~/lib/cssDesign/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="~/lib/cssDesign/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/cssDesign/js/bootstrap.min.js"></script>
    <script src="~/lib/cssDesign/js/jquery.nice-select.min.js"></script>
    <script src="~/lib/cssDesign/js/jquery.nicescroll.min.js"></script>
    <script src="~/lib/cssDesign/js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/cssDesign/js/jquery.countdown.min.js"></script>
    <script src="~/lib/cssDesign/js/jquery.slicknav.js"></script>
    <script src="~/lib/cssDesign/js/mixitup.min.js"></script>
    <script src="~/lib/cssDesign/js/owl.carousel.min.js"></script>
    <script src="~/lib/cssDesign/js/main.js"></script>
     @RenderSection("scripts",false)
</body>

</html>