@{
    ViewBag.Title = "TimKiemGo";
    Layout = "~/Views/Shared/_LayoutPageHome2.cshtml";
}
@using WebsiteShopQuanAo.Models;
@model List<SANPHAM>
<style>
    #divNavigation {
        display: none;
    }
</style>

<div class="width-details">
     @using (Html.BeginForm("TimKiemGo", "SanPham"))
     {
    <h2 class="mb-3 fw-normal" style="text-align:center;padding-bottom:20px">Tìm Kiếm Sản Phẩm</h2>
    <div style="padding-bottom:20px">
           <div class="row" style="padding-bottom:20px;">
                <input type="text" name="txtTimKiem" placeholder="   Tìm kiếm...." />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @*<a href="/SanPham/TimKiemGo" class="search-switch"><img src="~/lib/cssDesign/img/icon/search.png"></a>*@
                 <button type="submit"><img src="~/lib/cssDesign/img/icon/search.png"></button>
            </div>
            <div class="row">
                Giá từ :&nbsp;&nbsp;&nbsp;<input type="number" min="0" name="txtMin" placeholder="   Tối thiểu" />&nbsp;&nbsp;&nbsp;Đến&nbsp;&nbsp;&nbsp;
                <input type="number" name="txtMax" min="0" placeholder="   Tối đa" />
            </div>
 
    </div>
     }
    <div class="container text-center mt-4">
        <div class="row">
             @foreach (var item in Model)
             {
                <div class="col-lg-4 col-md-6 col-sm-6;">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@Url.Content("/Images/" + item.HINHANH)" style="height:350px">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/lib/cssDesign/img/icon/heart.png" alt=""></a></li>
                                <li><a href="@Url.Action("XemChiTiet", "SanPham", new { masp = item.MASP })"><img src="~/lib/cssDesign/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>
                                @if (item.TENSP.Length > 30)
                                {
                                    <p class="text-center"><strong title="@item.TENSP">@item.TENSP.Substring(0, 30)...</strong></p> }
                                else
                                {
                                    <p class="text-center"><strong title="@item.TENSP">@item.TENSP</strong></p>}
                            </h6>
                            @*<a href="@Url.Action("ThemGioHang", "GioHang", new { @msp=item.MASP,@strURL=Request.Url.ToString()})" class="add-cart">+ Add To Cart</a>*@
                            <h5>@string.Format("{0:0,0 }", @item.DONGIA)VNĐ</h5>
                        </div>
                    </div>
                </div>
             }
           
        </div>
    </div>
    </div>
</div>


